*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    background-color: gray;
}

.container {
    padding: 15px;
    background-color: darkgray;
    border-radius: 10px;
}

.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

img {
    border-radius: 50%;
}

p, h1 {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.description, .address {
    font-size: 0.75rem;
}

.element-container {
    padding: 5px;
    border-radius: 7.5px;
    background-color: lightgray;
    margin: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.element-container:hover {
    box-shadow: 5px 5px 5px slateblue;
    background-color: black;
    color: white;
}